html {
    font-family: Roboto, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

div
,button
,ul
,a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    border: none;
    list-style: none;
    text-decoration: none;
    color: #E5E7EB;
}

body > div {
    padding: 2rem 5rem;
}

button {
    background: #3882F6;
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
}

.width-container {
    justify-content: space-between;
    min-width: 100ch;
    max-width: 130ch; 
    flex: 1;
    gap: 2rem 3rem;
}

/* * HEADER */

.header {
    background-color: #1F2937;
}

.logo {
    font-weight: bold;
    color: #F9FAF8;
    font-size: 24px;
}

.navbar {
    font-size: 18px;
    gap: 1rem;
}

/* * HERO */

.hero {
    background-color: #1F2937;
}

.hero-subcontainer {
    flex-flow: column;
    align-items: flex-start;
    gap: 1rem;
    /* min-width: 40ch; */
}

.hero-maintext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.hero-subtext {
    font-size: 18px;
}

.hero img {
    max-height: 20rem;
}

/* * INFORMATION */

.information {
}

.information .width-container {
    flex-flow: column;
}

.information-maintext {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
}

.information-subcontainer {
    justify-content: space-between;
    gap: 1rem;
}

.information-element {
    flex-flow: column;
    flex-basis: 0;
    gap: 1rem;
    text-align: center;
}

.information-subtext {
    color: #1F2937;
}

.information img {
    max-height: 10rem;
    border-radius: 0.5rem;
}

/* * QUOTES */

.quotes {
    background-color: #E5E7EB;
}

.quotes .width-container {
    flex-flow: column;
    flex: none;
    width: 50ch;
    height: auto;
}

.quote-maintext {
    color: #1F2937;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
}

.quote-subtext {
    color: #1F2937;
    align-self: flex-end;
    font-size: 18px;
    font-weight: bold;
}

/* * CALL TO ACTION */

.calltoaction {}

.calltoaction .width-container {
    justify-content: center;
    flex: none;
    width: 50ch;
    height: auto;
}

.calltoaction-subcontainer {
    justify-content: space-between;
    gap: 5rem;
    padding: 2rem 3rem;
    border-radius: 1rem;
    background-color: #3882F6;
}

.calltoaction-text {
    flex-flow: column;
    align-items: flex-start;
}

.calltoaction-maintext {
    color: #F9FAF8;
    font-weight: bold;
}
.calltoaction-subtext {
    color: #F9FAF8;
}

.calltoaction button {
    border: solid #F9FAF8;
}

.calltoaction a {
    color: #F9FAF8;
}

/* separator */

.footer {
    background-color: #1F2937;
}

.footer .width-container {
    justify-content: center;
}