html {
    font-family: Roboto, sans-serif;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-height: 20rem;
}

.information img {
    max-height: 10rem;
    border-radius: 0.5rem;
}

a {
    text-decoration: none;
}

/* separator */

body {
    display: flex;
    flex-flow: column;
    margin: 0;
    padding: 0;
}

body > div {
    /* this is a temporary solution - I think the better way might be to create more flex containers within the body > div elements and set max-widths */
    padding: 1rem 5rem;
    display: flex;
}

/* separator */

.header {
    justify-content: space-between;
    align-items: center;

    background-color: #1F2937;
}

.header .logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.header ul {
    display: flex;
    gap: 1rem;
}

.header ul a {
    color: #E5E7EB;
}

/* separator */

.hero {
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
    background-color: #1F2937;
}

.hero-subcontainer {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    gap: 1rem;
}

.hero-maintext {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
}

.hero button {
    background: #3882F6;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
}

.hero a {
    color: #E5E7EB;
}

/* separator */

.information {
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}

.information-maintext {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
}

.information-subcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.information-element {
    display: flex;
    flex-flow: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

.information-subtext {
    color: #E5E7EB;
}

/* separator */

.quotes {

}

/* separator */

.calltoaction {

}

/* separator */

.footer {

}